.scriptlist-holder {
  width: 100%;
  height: 50%;
  overflow: hidden auto;
}

.scriptlist-holder h1 {
  color: rgba(243, 8, 130, 1);
  margin-bottom: 1rem;
}

.script-entry {
  cursor: pointer;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.script-label {
  flex: 1;
}

.script-action {
  padding: 2px;
  margin: 2px;
}

.script-action button {
  margin: 0 1rem;
  background: none;
  cursor: pointer;
  color: rgb(255, 44, 168);
  transition: transform .2s ease-out;
}

.script-action button:hover {
  transform: scale(1.2);
}

.script-entry:hover {
  background-color: rgba(255, 44, 168, 0.5);
}

.selector-holder {
  margin-bottom: 1.5rem;;
}

.script-bubble {
  margin-left: .6rem;
  background-color: lightgray;
  border-radius: 8px;
  padding: 0 .8rem;
  white-space: nowrap;
}