.left {
  width: 70%;
}

.right {
  width: 30%;
}

.loaf-body {
  display: flex;
  flex-flow: row nowrap;
  height: 80vh;
  margin-top: 2rem;
}

.breadcrumb-holder {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
}

.breadcrumb {
  margin-left: 0.3rem;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  background-color: #ff8047;
  cursor: pointer;
}

.breadcrumb:hover {
  background-color: #fd6017;
}

.dirs-holder {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dirname {
  cursor: pointer;
  padding: 0.6rem 1rem;
}

.dirname:hover {
  background-color: lightpink;
}

.list {
  padding: 1rem;
}

.selector-holder {
  width: 100%;
  margin: 1rem 0;
}

.selector {
  background: palegoldenrod;
  width: 100%;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
  cursor: pointer;
}

.selector-options {
  position: absolute;
  width: 300px;
  background: white;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
}

.options:hover {
  background: rgb(236, 235, 220);
}

.options span {
  font-size: 0.7rem;
  color: gray;
}
