.dep-name:hover {
  background-color: rgba(255, 44, 168, .5);
}

.depdev-name:hover {
  background-color: rgba(255, 44, 168, .7);
}

.deplist-holder {
  width: 30%;
  height: 100%;
  overflow: auto;
}
