/** reset */
* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Poppins', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.app-body {
  padding: 0 15%;
}